@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Collection of your favorite videos</h2>
    <a asp-action="Index" asp-controller="Video" class="btn">The collection</a>
    <a asp-action="Create" asp-controller="Video" class="btn">Add a video</a>
</div>
